# Nix / Flakes
result
result-*
.direnv/

# Sicherheit
**/id_rsa
**/id_rsa.pub
**/*.pem
**/*.key
**/known_hosts*
secrets/ # Falls du Sops-Secrets mal unverschlüsselt ablegst (Vorsicht!)

# OS-Müll
.DS_Store
*.stowbak
*.bak
*.swp

# Emacs-Müll (Lockfiles, Auto-Saves, Backups)
**/.#*
\#*\#
*~
**/elpa/
**/eln-cache/
**/auto-save-list/
**/backup-files/
**/transient/
**/tramp/
**/request/
**/org-persist/
**/bookmarks
**/custom.el

# Lokale Anpassungen
**/*.local
